* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 5rem;
  padding-bottom: 3rem;
  overflow-x: hidden !important;
}

.container {
  box-sizing: border-box;
  display: block;
}

.carousel {
  margin-bottom: 3rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

#mainNav {
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}
img {
  width: 150px;
  height: 40px;
}
.nav-item {
  padding: 10px;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.card {
  display: flex;
  margin: 40px;
}

.card .card-img-top {
  width: 100%;
  height: 100%;
}

.c {
  padding-top: 6rem;
}

.kirim {
  justify-content: center;
}